@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #0D306D;
    --area: #092047;
    --primary: #5155D6;
    --secondary: #6165FF;
}

html, body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
}

a:-webkit-any-link {
    color: var(--secondary);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}

.container {
    display: grid;

    background-color: var(--background);
    border-radius: 10px;
    overflow: hidden;
    height: 100vh;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 2.6fr 30px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navbar navbar exit"
        "content content content"
        "footer footer footer";
}

.navbar {
    grid-area: navbar;
}

.navbar, .exit {
    background-color: var(--area);
    /* Have the entire top of the screen to be moved around */
    -webkit-app-region: drag;
}

/* No drag class */
.nd {
    /* Enable default events on elements as drag overrides them*/
    -webkit-app-region: no-drag;
}

.exit {
    grid-area: exit;
    /* Align the Buttons correctly */
    text-align: right;
    padding-right: 25px;
}

.exit :first-child {
    margin-right: 20px;
}

.footer {
    grid-area: footer;
    background-color: var(--area);
    /* Put elements on both ends using space-between */
    display: flex;
    justify-content: space-between;
    /* Align elements */
    padding: 8px 20px 0 20px
}

.footer h4 {
    /* Remove any form of margin */
    margin: 0;
}

.content {
    grid-area: content;
}

/* Align element to center of screen */
.center-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Create the box for elements */
.form {
    padding: 20px;
    background-color: var(--area);
    width: 300px;
    height: 150px;
    border-radius: 24px;
}

.form h2 {
    margin: 0 0 5px 0;
}

.form .input {
    display: flex;
}

/* Match text to input field */
.form .input h3 {
    margin: 0 0 10px 0;
    margin-right: 5px;
    background-color: #0d306d;
    border-radius: 4px;
    width: 90px;
    height: 35px;
    text-align: center;
    padding: 6px 0 0 0;
}

/* Change button font size */
.form :last-child * {
    font-size: 16px;
}

/* Change button hover color */
.form :last-child *:enabled:hover {
    color: var(--secondary);
}